node_modules/
dist/
artifacts/
cache/
coverage/
typechain-types/
.env
.env.local
.env.*.local
deployments/*.local.json
deployments/*.private.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel
